.root {
  align-items: center;
}

.first-four-digits {
  width: 12rem;
}

.last-six-digits {
  width: 4.25rem;
}

.input {
  flex-shrink: 0;

  input {
    &::-webkit-inner-spin-button {
      appearance: none;
    }

    appearance: none;
    background-color: var(--input-background);
  }
}

.split {
  flex-shrink: 0;
  padding: 0 0.35rem;
  letter-spacing: 0.1rem;
}
