$edge-length: calc(85rem / 16);

.root {
  display: inline-block;
  width: $edge-length;
  height: fit-content;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: $edge-length;
  background: var(--banner-text);
  border: calc(1rem / 16) solid var(--input-placeholder-disabled);
}

.icon {
  width: calc(200% / 3);
  height: fit-content;
  margin: 0 auto;
}

.filename {
  align-items: center;
  overflow: hidden;
  font-size: calc(2rem / 3);
  font-weight: 400;
  line-height: 1rem;
  color: var(--input-focus);
  text-overflow: ellipsis;
  letter-spacing: 0.01rem;
  white-space: nowrap;
}
