$brand: #3171f6;
$brand-darker: #133425;
$brand-light: #eaf1ed;
$brand-complementary: #f9ac31;
$background: #fff;
$background-complementary: #000;
$selected-background: #f3f5fa;
$gray-darker: #474747;
$gray-dark: #919191;
$gray-light: #dadada;
$gray-lighter: #e6e6e6;
$text: #1a1a1a;
$text-complementary: #fff;
$subtext: #a6a6a6;
$success: #2a7e2e;
$attention: #2196f3;
$wait: #fff8dd;
$error: #ed3669;
$primary: #2d9cfb;
$secondary: #a9a9a9;
$chat-background: #fff;
$form-background: #f2f2f2;
$banner-background: #1a1a1a;
$banner-text: #fff;
$link: #11c;
