.root {
  display: flex;
  flex-direction: column;
  max-width: 100vw;
  min-height: 100vh;
  color: var(--text);
}

.main {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  align-items: center;
  width: 100%;
}
