.container {
  display: flex;
  align-items: center;

  input {
    display: none;
  }

  span {
    padding-right: 0.5rem;
    font-size: 0.875rem;
    font-weight: 500;
    cursor: pointer;
  }
}

.explanation {
  padding: 0.2rem;
  font-size: 0.75rem;
  font-weight: 300;
  color: var(--gray-darker);
}
